 @import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');
html{
	font-family: 'Open Sans', sans-serif;
}
body{
	margin-bottom: 100px;
}
header{
	background-size: contain;
	width: 100%;
}
img{
	width: 100%;
}
#main-screen-content{
	margin-top: -80px;
}
.container{
	width: 90%;
	padding: 0;
}
.offers div{
	padding: 0;
}
.offer{
	width: 280px;
	height: 340px;
	border: 1px solid #E7E7E7;
	margin: 20px auto;
	border-radius: 10px;
	text-align: center;
	color: #FFF;
	line-height: 40px;
	font-weight: 700;
	font-size: 16px;
}
.offer-info{
	width: 278px;
	height: 300px;
	background-color: #FFF;
	border-radius: 10px;
	border-bottom: 1px solid #E7E7E7;
}
.offer-logo{
	height: 90px;
	position: relative;
	width: 150px;
	background-position: center center;
	background-size: contain;
	background-repeat: no-repeat;
	margin: 0 auto;
}
.offer-description{
	background: url(img/dots-horizontal.png) right top repeat-x;
	color: #000;
	font-weight: 300;
	position: relative;
	height: 110px;
	width: 100%;
	line-height: 25px;
	font-size: 16px;
}
.offer-description span{
	font-size: 30px;
}
.description{
	width: 90%;
	position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.button{
	width: 230px;
	height: 50px;
	font-size: 18px;
	line-height: 50px;
	padding: 0;
	font-weight: 300;
	border-radius: 5px;
	margin: 0 auto;
	cursor: pointer;
}
.show-more{
	text-decoration: underline;
	color: #000;
	font-weight: 300;
	cursor: pointer;
}
#coupon-screen{
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.77);
	position: fixed;
	top: 0;
	display: none;

}
.coupon-wrapper{
	position: absolute;
	top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.coupon-wrapper .offer{
	width:90%;
	height: 430px;
	position: relative;
}
.coupon-wrapper .offer-info{
	width: 100%;
	background: #F2F3F5;
	height: 390px;
}
.coupon-wrapper .offer-logo{
	width: 40%;
	float: left;
	height: 45%;
	background: #FFF;
}
.coupon-wrapper .logo{
	width: 90%;
}
.coupon-wrapper .offer-description{
	float: left;
	width: 60%;
	background: #FFF;
	height: 45%;
}
.code-info{
	height: 20%;
	position: relative;
	clear: both;
}
.code-info p{
	width: 70%;
	font-size: 14px;
	font-weight: 300;
	color: #000;
	line-height: 20px;
	position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.offer-info .button.code{
	border: 3px dashed #E4E4E4;
	background: #FFF;
	color: #000;
	margin-bottom: 10px;
	cursor: default;
}
.close-btn{
	width: 20px;
	height: 20px;
	line-height: 20px;
    display: inline-block;
	position: absolute;
	top: 10px;
	right: 10px;
}
.close-btn:before,
.close-btn:after {
  transform: rotate(-45deg);
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -15px;
  display: block;
  height: 4px;
  width: 20px;
  background-color: #fff;
  transition: all 0.2s ease-out;
}
.close-btn:after {
  transform: rotate(45deg);
}
.close-btn:hover:before {
  transform: rotate(225deg);
}
.close-btn:hover:after {
  transform: rotate(135deg);
}
@media only screen and (min-width: 500px){
	.coupon-wrapper{
		width: 600px;
	}
	.coupon-wrapper .offer-info{
		height: 300px;
	}
	.coupon-wrapper .offer{
		height: 300px;
	}
	.coupon-wrapper .button.code{
		float: left;
		margin-left: 10%;
		width: 45%;
	}
	.coupon-wrapper .button{
		margin-top: 15px;
		width: 35%;
	}
	#main-screen-content{
		margin-top: -100px;
	}
}
#categories-screen{
	width: 100%;
	height: 100%;
	background: #F3F3F3;
	position: fixed;
	top: 0;
	display: none;
	overflow: scroll;

}
.categories-menu{
	width: 100%;
	height: 150px;
	position: relative;
	margin-bottom: 50px;
}
.categories-menu .container{
	height: 150px;
}
.category-title, .select-category{
	height: 50%;
	position: relative;
	color: #FFF;
}
.category-title h1{
	position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
    margin: 0;
	font-size: 22px;
	font-weight: 200;
	text-align: center;
}
.select-category select{
	font-size: 27px;
	line-height: 46px;
	text-align: center;
	text-align-last:center;
	text-align:-moz-center;
    text-align:-webkit-center;
	border: 2px solid;
	border-radius: 10px;
	width: 100%;
	height: 50px;
	background: inherit;
	-webkit-appearance: none;
  	-moz-appearance: none;
  	appearance: none;
  	position: relative;
  	outline: none;
}

.select-category:before{
	content: '';
	position: absolute;
    bottom: 40px;
  	right: 40px;
	display: block;
	width: 0; 
  	height: 0; 
  	border-left: 10px solid transparent;
 	border-right: 10px solid transparent;
  	border-top: 10px solid;
  	transform: translateY(-30%);
}
.select-category option{
	text-transform: capitalize;
}
.select-category span{
	width: 0; 
  	height: 0; 
  	border-left: 10px solid transparent;
 	border-right: 10px solid transparent;
  	border-top: 10px solid;
  	transform: translateY(-30%);
	display: inline-block;
	margin-left: 16px;
}

.categories-menu:before{
	content: '';
	position: absolute;
    bottom: 0;
  	left: 50%;
	display: block;
	height: 20px;
	width: 20px;
	background-color: inherit;
	z-index: 1;
	transform: translate(-50%,50%) rotate(45deg);
}


@media only screen and (min-width: 768px){
	.categories-menu, .categories-menu .container{
		height: 100px;
	}
	.categories-menu .container{
		width: 80%;
	}
	.category-title,.select-category{
		height: 100%;
	}
	.select-category select{
		position: absolute;
   		top: 50%;
	    left: 50%;
	    transform: translate(-50%, -50%);
	}
	.select-category:before{
		right: 25px;
	}
	.category-title h1{
		font-size: 26px;
	}
}
.moda, .moda .button{
	background-color: #3CB9D9;
}
.dzieci, .dzieci .button {
	background-color: #68E0D6;
}
.kosmetyki, .kosmetyki .button {
	background-color: #CFA4EB;
}
.rozrywka, .rozrywka .button {
	background-color: #454F94;
}
.elektronika, .elektronika .button {
	background-color: #9DA79E;
}
.podroze, .podroze .button {
	background-color: #85C169;
}
.sport, .sport .button{
	background-color: #FE6987;
}
.inne, .inne .button{
	background-color: #CFCB9B;
	} 
.moda .description span{
	color: #3CB9D9;
}
.dzieci .description span{
	color: #68E0D6;
}
.kosmetyki .description span{
	color: #CFA4EB;
}
.rozrywka .description span{
	color: #454F94;
}
.elektronika .description span{
	color: #9DA79E;
}
.podroze .description span{
	color: #85C169;
}
.sport.description span{
	color: #FE6987;
}
.inne .description span{
	color: #CFCB9B;
	} 	






